.navbar {
  border-bottom: 1px solid var(--main-primary);
  display: flex;
  top: 0;
}

.logo_navbar {
  align-items: center;
  color: white;
  display: flex;
  font-size: 2em;
  font-weight: 700;
  justify-content: center;
  text-transform: uppercase;
}

.navbarLink{
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.navbarLogo {
  height: 2em;
  text-align: left;
  width: 1.5em;
}

.content {
  padding: 2em;
  width: 100vw;
  max-width: 1800px;
  margin: 0 auto;
}

.navbar .content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.hamburger {
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  padding: 15px 15px;
}

.hamburgerbox {
  height: 24px;
  width: 40px;
}

.hamburgerinner {
  display: block;
  margin-top: -2px;
  top: 50%;
}
.hamburgerinner,
.hamburgerinner::before,
.hamburgerinner::after {
  background-color: var(--main-primary);
  border-radius: 4px;
  height: 4px;
  position: absolute;
  transition-duration: 0.15s;
  transition-property: transform;
  transition-timing-function: ease;
  width: 40px;
}
.hamburgerinner::before,
.hamburgerinner::after {
  content: "";
  display: block;
}
.hamburgerinner::before {
  top: -10px;
}
.hamburgerinner::after {
  bottom: -10px;
}

/*
   * 3DX
   */
.hamburger3dx .hamburgerbox {
  perspective: 80px;
}

.hamburger3dx .hamburgerinner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger3dx .hamburgerinner::before,
.hamburger3dx .hamburgerinner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.navbar .menuList {
  display: inline-flex;
}
.menuList li {
  list-style: none;
}
.menuList li a {
  margin-left: 15px;
  align-items: center;
  border-radius: 9999px;
  color: white;
  font-size: 1em;
  height: 49px;
  justify-content: center;
  padding: 0.5em;
  background-color: #0000003c;
}

.menuList li a:hover {
  background: var(--main-primary);
  color: white;
  background-position: center center;
}
.icon {
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.menuList .cancelBtn {
  background: var(--main-primary);
  color: white;
  padding: 0.3em;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  right: 25px;
  top: 20px;
  z-index: 12;
}

@media (max-width: 868px) {
  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menuList {
    background-color: #ffffffa0;
    backdrop-filter: blur(1px);
    border-bottom: 1px solid #eee;
    color: #353535;
    display: block;
    height: 100vh;
    z-index: 99999;
    left: -100%;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.3s ease;
    width: 100%;
  }
  .navbar.show .menuList {
    left: 0;
  }
  .navbar .menuList li {
    margin-top: 45px;
  }
  .navbar .menuList li a {
    font-size: 23px;
    margin-left: 0%;
    background-color: #0000006d;
  }
  .navbar .menuList li a:hover {
    background: var(--main-primary);
  color: white;
  }
  .navbar.show .menuList li a {
    margin-left: 0px;
  }
}

